body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

#search-input, button {
    padding: 10px;
    font-size: 16px;
}

#search-results {
    margin: 20px;
}
